<!-- type: block_image_content -->
<section class="type-{{type}} flex relative feature-block">
    {{ if photo_primary }}
    <div class="feature-block--image flex-initial w-full {{ if photo_secondary }}w-2/3{{ else }}w-full{{ /if }} bg-grey-11 bg-cover bg-no-repeat {{ photo_classes }} lazyload"
        {{ assets:photo_primary }}data-background-image="{{ glide:id width="2100" }}" {{ /assets:photo_primary }}></div>
    {{ /if }}
    {{ if photo_secondary }}
    <div class="feature-block--image hidden lg:block bg-green-medium flex-initial w-1/3">
        <div class="bg-cover bg-center bg-no-repeat opacity-50 bg-green-medium w-full h-full bg-blend-multiply lazyload"
            {{ assets:photo_secondary }}data-background-image="{{ glide:id width="600" filter="greyscale" contrast="25" }}"
            {{ /assets:photo_secondary }}></div>
    </div>
    {{ /if }}
    <div
        class="feature-block--copy flex flex-col {{ if block_copy_position == "top" }}pin-t{{ else }}pin-b{{ /if }} justify-center h-full md:h-auto lg:h-auto sm:w-full md:w-2/3 lg:w-1/2">
        <div class="max-w-md">
            <h3 class="headline-serif text-4xl mb-6">{{ title | windont }}</h3>
            <div class="mb-6 w-1/3 border-b-2 border-amber-dark"></div>
            {{ if block_content }}{{ block_content | wrap:p.mb-4.text-xl | markdown  }}{{ /if }}
            {{ if button_label }}
            <a class="link"
                href="{{ if page_or_anchor == "anchor" }}#{{ anchor_id }}{{ else }}{{ relate:button_link }}{{ url }}{{ /relate:button_link }}{{ /if }}">{{ button_label }}</a>
            {{ /if }}
        </div>
    </div>
</section>