<{{ p_tag or 'a'}}
class="
mx-auto
py-3
px-6
tracking-wider
white-space-no-wrap
uppercase
cursor-point
text-sm
transition-all

{{ if p_hollow }}
  border
  border-{{ p_hollow_color or 'green' }}
  text-{{ p_hollow_color or 'green' }}
  hover:border-white
  hover:text-white
{{ else }}
  bg-green
  text-white
  hover:bg-green-active
  focus:bg-green-active
{{ /if }}

{{ p_styles }}
"
href="{{ p_link or "/" }}"
{{ if p_swup_off!="true"}}data-swup-link{{ /if }}
>
  {{ p_text }}
</{{ p_tag or 'a'}}>
