<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Requested Service</strong> {{ select_service }}</p>
<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Name</strong> {{ name }}</p>
<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Email</strong> {{ email }}</p>
<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Phone</strong> {{ phone }}</p>
<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">City</strong> {{ city }}</p>
<p style="margin-bottom: 32px"><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Message</strong> {{ message | nl2br }}</p>
