<section class="section-pad">
    {{ if gallery_heading }}<h2 class="text-3xl mb-4 max-w-xl mx-auto">{{ gallery_heading }}</h2>{{ /if }}
    {{ if gallery_subheading }}<div class="text-lg max-w-xl mx-auto mb-4">{{ gallery_subheading | markdown }}</div>{{ /if }}
    <div id="gallery-{{ index }}"  class="photoswipe-gallery grid grid-cols-2 gap-1 lg:grid-cols-3 xl:grid-cols-4 container" itemscope itemtype="http://schema.org/ImageGallery">
        {{ assets:gallery_images }}
            <figure class="{{ if first }}col-span-4{{ /if }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a itemprop="contentUrl"
                    {{ glide:generate src="{id}" preset="xl" }}
                    href="{{ url }}"
                    data-size="{{ width }}x{{ height }}"
                    {{ /glide:generate }}
                    title="{{ alt or filename }}"
                    data="no-swup"
                    class="relative overflow-hidden bg-gray-400 block {{ if !first }}aspect-ratio-square{{ /if }}"
                    {{ if first }}style="padding-bottom: 50%"{{ /if }}
                    >
                    <img
                        class="lazyload absolute top-0 right-0 bottom-0 left-0 object-cover object-center h-full w-full"
                        data-src="{{ glide:id preset="sm_square" }}"
                        data-srcset="{{ glide:id preset="sm_square" }} 400w, {{ glide:id preset="md_square" }} 800w, {{ glide:id preset="lg_square" }} 1600w, {{ glide:id preset="xl_square" }} 2550w"
                        alt="{{ alt or filename}}"
                        itemprop="thumbnail" >
                </a>
            </figure>
        {{ /assets:gallery_images }}
        </div>
</section>