<header class="py-8 {{ bg_color or 'bg-grey-100' }} bg-cover bg-center lazyload"
    {{ assets:banner }}data-bg="{{ glide:id preset="xl" }}"{{ /assets:banner }}
    >

    <div class="container">
        {{ if pre_heading }}
            {{ if pre_heading_link }}
                <a class="no-underline hover:text-blue" href="{{ pre_heading_link }}">
            {{ /if }}
            <h1 class="text-base">{{ pre_heading }}</h1>
            {{ if pre_heading_link }}
                </a>
            {{ /if }}
        {{ /if }}

        <{{ if pre_heading=='' }}h1{{ else }}h2{{ /if }} class="text-6xl leading-tight font-distressed" itemprop="title">
            {{ heading or title }}
        </{{ if pre_heading=='' }}h1{{ else }}h2{{ /if }}>

        {{ intro | markdown wrap:div.leadin }}

        {{ if call_to_action }}
            <div class="pt-8">
                {{ partial:button
                    p_link="{{ if link }}{{ relate:link }}{{ url }}{{ /relate:link }}{{ elseif slug=="careers" }}#positions{{ else }}#contact-form{{ /if }}"
                    p_text="{{ call_to_action }}"
                    p_styles="smooth-scroll"
                }}
            </div>
        {{ /if }}
    </div>

</header>