/* ==========================================================================
   Responsivie Debugging
   ========================================================================== */

body.development:after {
  bottom: 2px;
  position: fixed;
  right: 2px;
  z-index: 3000;

  padding: 2px 8px;

  background-color: #888;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.5;
  text-align: center;

  content: "xs";
}

@screen sm {
  body.development:after {
    content: "sm";
  }
}

@screen md {
  body.development:after {
    content: "md";
  }
}

@screen lg {
  body.development:after {
    content: "lg";
  }
}

@screen xl {
  body.development:after {
    content: "xl";
  }
}

@screen xxl {
  body.development:after {
    content: "xxl";
  }
}
