{{ partial:hero }}

<div itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="container">
        <article class="max-w-75 first-p-leadin">
            {{ partial:content_blocks p_section_pad="section-pad-sm" }}
        </article>
    </div>
</div>

<div class="section-pad-sm bg-grey-200">
    <div class="container md:flex">
        <div class="p-2 md:p-0 mb-4 md:m-0 bg-blue md:pr-4 md:w-1/2">
            {{ mission_heading | wrap:h2 }}
            <div class="text-h3 md:text-h2 xl:text-h1">
                {{ mission_body }}
            </div>
        </div>
        <div class="p-2 md:p-0 bg-green md:pl-4 md:w-1/2">
            {{ vision_heading | wrap:h2 }}
            <div class="text-base">
                {{ vision_body }}
            </div>
        </div>
    </div>
</div>

<div class="section-pad-t section-pad-b-sm text-center">
    <div class="container">
        <h2>{{ team_heading }}</h2>
        {{ partial:list_employee }}
    </div>
</div>

<div class="section-pad-sm">
    <div class="container">
        {{ history_heading | wrap:h2 }}
        <div class="max-w-75 first-p-leadin">
            {{ history_body }}
        </div>
    </div>
</div>

{{ if associations!='' }}
<div class="section-pad-sm">
    <div class="container">
        <h3 class="mb-4">Associations</h3>
        <ul class="list-reset flex -mx-1">
            {{ associations }}
            <li class="w-1/2 max-w-20 px-1">
                {{ assets:logo }}
                <img src="{{ glide:id preset="md" }}" alt="{{ name or alt or title }}">
                {{ /assets:logo }}
            </li>
            {{ /associations }}
        </ul>
    </div>
</div>
{{ /if }}