.DS_Store
.env
node_modules/
bower_components/
local/cache/*
local/storage/*
local/temp/*
local/composer/*
installer.php

/img/
/img-cache/
.sublime-gulp.cache
site/themes/main/css/main.css
site/themes/main/css/main.css.map
site/themes/main/css/vendor.css
site/themes/main/js/main.js
site/themes/main/js/vendor.js
/statamic/*
!/statamic/.gitkeep
/uploads/*
/site/users/*.yaml
/site/storage/*/*